:root {
  --color-border: #262626;
  --color-text: #dfdedc;
  --color-background: #181818;

  --color-text-get: #67d193;
  --color-text-post: #fbe07d;
  --color-text-put: #6ea4e7;
  --color-text-patch: #b7a0d6;
  --color-text-delete: #e86f6f;
  --color-text-head: #67d193;
  --color-text-options: #da57a0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem */
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo transparente */
  border: 1px solid rgba(0, 0, 0, 0); /* Borda transparente */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo transparente com hover */
}

body {
  background: var(--color-background);
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: JetBrains Mono;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.get {
  color: var(--color-text-get);
}
.post {
  color: var(--color-text-post);
}
.put {
  color: var(--color-text-put);
}
.patch {
  color: var(--color-text-patch);
}
.delete {
  color: var(--color-text-delete);
}
.head {
  color: var(--color-text-head);
}
.options {
  color: var(--color-text-options);
}
